# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.21.0
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
redis==5.0.4
requests==2.31.0
six==1.16.0
spotipy==2.23.0
urllib3==2.2.1